In [41]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn  # used because I use sub data from main data
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv('dataset/GlobalLandTemperaturesByCountry.csv')
df

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
0,1743-11-01,4.384,2.294,Åland
1,1743-12-01,NaN,NaN,Åland
2,1744-01-01,NaN,NaN,Åland
3,1744-02-01,NaN,NaN,Åland
4,1744-03-01,NaN,NaN,Åland
...,...,...,...,...
577457,2013-05-01,19.059,1.022,Zimbabwe
577458,2013-06-01,17.613,0.473,Zimbabwe
577459,2013-07-01,17.000,0.453,Zimbabwe
577460,2013-08-01,19.759,0.717,Zimbabwe
577461,2013-09-01,NaN,NaN,Zimbabwe

In [5]:
df.shape

(577462, 4)

In [7]:
china_data = df.loc[df.Country == 'China']

In [8]:
china_data

                dt  AverageTemperature  AverageTemperatureUncertainty Country
110149  1820-08-01              16.684                          1.978   China
110150  1820-09-01              13.292                          1.555   China
110151  1820-10-01               5.624                          1.383   China
110152  1820-11-01              -1.981                          1.340   China
110153  1820-12-01              -8.551                          1.508   China
...            ...                 ...                            ...     ...
112462  2013-05-01              14.824                          0.171   China
112463  2013-06-01              18.636                          0.238   China
112464  2013-07-01              20.482                          0.153   China
112465  2013-08-01              19.971                          0.223   China
112466  2013-09-01                 NaN                            NaN   China

[2318 rows x 4 columns]

In [9]:
china_data.isnull().sum() # checking any null value

dt                                 0
AverageTemperature               117
AverageTemperatureUncertainty    117
Country                            0
dtype: int64

In [10]:
round(100*(china_data.isnull().sum()/len(china_data.index)),2)  # checking percentage of null values

dt                               0.00
AverageTemperature               5.05
AverageTemperatureUncertainty    5.05
Country                          0.00
dtype: float64

In [13]:
china_data.fillna(china_data.mean(), inplace=True)  # fill null values with mean of that column

In [15]:
round(100*(china_data.isnull().sum()/len(china_data.index)),2)  # checking percentage of null values

dt                               0.0
AverageTemperature               0.0
AverageTemperatureUncertainty    0.0
Country                          0.0
dtype: float64

In [50]:
avgTemp_china = LabelEncoder()

In [49]:
cd = china_data.copy()

In [39]:
import datetime

In [40]:
data_for_predict = []
year= 2014
month = 1
date = 1
for i in range(10):
    month = 1
    for j in range(12):
        dateee = str(year) + '-' + str(month)+'-'+str(date)
        cadateee = datetime.datetime.strptime(dateee, '%Y-%m-%d')
        data_for_predict.append(cadateee.date())
        month = month+1
    year = year+1

In [51]:
cd['AvgTemp'] = avgTemp_china.fit_transform(cd['AverageTemperature'])

In [53]:
X = cd['AvgTemp'].values.reshape(-1,1)
Y = cd['AvgTemp'].values.reshape(-1,1)

In [54]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [55]:
decisionTree = DecisionTreeClassifier()
decisionTree.fit(X_train, Y_train)

DecisionTreeClassifier()

In [59]:
pred = pd.DataFrame(data_for_predict).values.reshape(-1,1)

In [60]:
a = decisionTree.predict(pred)

TypeError: float() argument must be a string or a number, not 'datetime.date'